<a href="https://colab.research.google.com/github/CLizardi/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [28]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [29]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [30]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
unique_counts = application_df.nunique()
print(unique_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [31]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [32]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
cutoff = 500
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_types_to_replace = list(application_counts[application_counts < cutoff].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [33]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [34]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts_filtered = classification_counts[classification_counts > 1]
print(classification_counts_filtered)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [36]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
cutoff = 1000
classification_counts = application_df['CLASSIFICATION'].value_counts()
classifications_to_replace = list(classification_counts[classification_counts < cutoff].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [37]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
application_encoded = pd.get_dummies(application_df)
print(application_encoded.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                       0
1       1   108590              1                       0
2       1     5000              0                       0
3       1     6692              1                       0
4       1   142590              1                       0

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                     1                     0                    0
1                     0                     0                    1
2                     0                     0                    0
3                     0                     0                    1
4                     0                     0                    1

   APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                    0                    0                    0  ...
1                    0                    0                    0  ...
2                    0                    1                    0  ...
3                    0                    0                    0  ...
4                    0                    0                    0  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                  0                       0                         0
1                  1                       0                         0
2                  0                       0                         0
3                  0                       1                         0
4                  0                       0                         1

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                   0                 0                       0
1                   0                 0                       0
2                   0                 0                       0
3                   0                 0                       0
4                   0                 0                       0

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                0                  0                         1
1                0                  0                         1
2                0                  0                         1
3                0                  0                         1
4                0                  0                         1

   SPECIAL_CONSIDERATIONS_Y
0                         0
1                         0
2                         0
3                         0
4                         0

[5 rows x 44 columns]

In [38]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
X = application_encoded.drop('IS_SUCCESSFUL', axis=1).values
y = application_encoded['IS_SUCCESSFUL'].values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=0.2)

In [39]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [40]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=128, activation='relu'))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Build the model by passing a batch of data through it
nn.build(input_shape=(None, len(X_train[0])))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_15 (Dense)            (None, 128)               5632

 dense_16 (Dense)            (None, 64)                8256

 dense_17 (Dense)            (None, 1)                 65

=================================================================
Total params: 13,953
Trainable params: 13,953
Non-trainable params: 0
_________________________________________________________________

In [41]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [42]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
858/858 [==============================] - 2s 1ms/step - loss: 0.5671 - accuracy: 0.7248
Epoch 2/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5541 - accuracy: 0.7286
Epoch 3/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5509 - accuracy: 0.7304
Epoch 4/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5497 - accuracy: 0.7306
Epoch 5/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5483 - accuracy: 0.7331
Epoch 6/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7329
Epoch 7/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5465 - accuracy: 0.7333
Epoch 8/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5461 - accuracy: 0.7334
Epoch 9/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5447 - accuracy: 0.7342
Epoch 10/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5450 - accuracy: 0.7345
Epoch 11/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5444 - accuracy: 0.7356
Epoch 12/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5440 - accuracy: 0.7361
Epoch 13/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7348
Epoch 14/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5429 - accuracy: 0.7356
Epoch 15/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5424 - accuracy: 0.7358
Epoch 16/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5421 - accuracy: 0.7354
Epoch 17/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7356
Epoch 18/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5412 - accuracy: 0.7375
Epoch 19/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7369
Epoch 20/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7367
Epoch 21/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5409 - accuracy: 0.7365
Epoch 22/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5402 - accuracy: 0.7380
Epoch 23/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7369
Epoch 24/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7372
Epoch 25/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7366
Epoch 26/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7381
Epoch 27/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7377
Epoch 28/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7381
Epoch 29/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7387
Epoch 30/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7376
Epoch 31/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7376
Epoch 32/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7377
Epoch 33/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7396
Epoch 34/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7383
Epoch 35/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7374
Epoch 36/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7387
Epoch 37/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7383
Epoch 38/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7380
Epoch 39/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7391
Epoch 40/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7387
Epoch 41/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5372 - accuracy: 0.7393
Epoch 42/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7389
Epoch 43/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7389
Epoch 44/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7392
Epoch 45/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7387
Epoch 46/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7399
Epoch 47/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7390
Epoch 48/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7395
Epoch 49/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7397
Epoch 50/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7386
Epoch 51/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7399
Epoch 52/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7392
Epoch 53/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7398
Epoch 54/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7399
Epoch 55/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7406
Epoch 56/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7399
Epoch 57/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7398
Epoch 58/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7398
Epoch 59/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5351 - accuracy: 0.7403
Epoch 60/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7407
Epoch 61/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7410
Epoch 62/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5351 - accuracy: 0.7395
Epoch 63/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5349 - accuracy: 0.7400
Epoch 64/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7400
Epoch 65/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5343 - accuracy: 0.7391
Epoch 66/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5346 - accuracy: 0.7398
Epoch 67/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7403
Epoch 68/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5347 - accuracy: 0.7401
Epoch 69/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5342 - accuracy: 0.7407
Epoch 70/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5339 - accuracy: 0.7408
Epoch 71/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5344 - accuracy: 0.7401
Epoch 72/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5345 - accuracy: 0.7402
Epoch 73/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5339 - accuracy: 0.7398
Epoch 74/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5340 - accuracy: 0.7405
Epoch 75/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5341 - accuracy: 0.7402
Epoch 76/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7402
Epoch 77/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5335 - accuracy: 0.7404
Epoch 78/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7406
Epoch 79/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5338 - accuracy: 0.7407
Epoch 80/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7401
Epoch 81/100
858/858 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.7406
Epoch 82/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7408
Epoch 83/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5337 - accuracy: 0.7412
Epoch 84/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7407
Epoch 85/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7408
Epoch 86/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7404
Epoch 87/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7408
Epoch 88/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5336 - accuracy: 0.7399
Epoch 89/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7408
Epoch 90/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7410
Epoch 91/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7404
Epoch 92/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5334 - accuracy: 0.7399
Epoch 93/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7403
Epoch 94/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5327 - accuracy: 0.7406
Epoch 95/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5332 - accuracy: 0.7404
Epoch 96/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5328 - accuracy: 0.7412
Epoch 97/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7406
Epoch 98/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5331 - accuracy: 0.7402
Epoch 99/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5329 - accuracy: 0.7412
Epoch 100/100
858/858 [==============================] - 1s 1ms/step - loss: 0.5330 - accuracy: 0.7408

In [43]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5733 - accuracy: 0.7277 - 276ms/epoch - 1ms/step
Loss: 0.573316216468811, Accuracy: 0.7276967763900757

In [46]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("model.h5")